<header class="hero row" role="banner">
  <div class="col-xs-12 col-md-3 col-md-offset-3 text-center-md text-left">
    <%= link_to image_tag('logo_white.png'), '/', class: 'hero__logo' %>
  </div>
  <div class="col-xs-12 col-md-3 text-center-md text-left">
    <h2 class="hero__headline"><span style="color: white;">Open</span><br />Webslides</h2>
    <h3 class="hero__description">Open source platform for interactive,<br />co-created courses</h3>
    <p>
      <%= link_to 'Learn more', '#learn-more', class: 'button button--secondary' %>
    </p>
  </div>
</header>
