<nav class="navigation row">
  <div class="col-xs-12 col-md">
    <%= link_to 'Open Webslides', '/index.html', class: 'button button--link'  %>
  </div>

  <div class="col-xs-12 col-md text-center-md">
    <%= link_to 'Home', '/index.html', class: 'button button--link' %>
    <%= link_to 'Concept', '/concept.html', class: 'button button--link' %>
    <%= link_to 'Contact', '/contact.html', class: 'button button--link' %>
  </div>
</nav>
