<nav class="c-navigation u-flex u-flex-align-items-center u-flex-justify-space-between">
  <%= link_to 'Open Webslides', '/', class: 'c_navigation__site-name' %>

  <div class="u-flex u-flex-nowrap">
    <%= link_to 'Concept', '/concept', class: 'c_navigation__link' %>
  </div>
</nav>
