.button {
  display: inline-block;
  padding: 1.5 * $small-spacing 1.5 * $base-spacing;

  text-transform: uppercase;
  color: $button-font-color;
  font-weight: $font-weight-bold;
  font-size: $small-font-size;

  &--primary {
    background-color: $button-primary-color;

    &:hover {
      color: lighten($button-primary-color, 40%);
    }
  }

  &--secondary {
    background-color: $button-secondary-color;

    &:hover {
      color: lighten($button-secondary-color, 40%);
    }
  }

  &--link{
    background-color: transparent;

    &:hover {
      color: darken(white, 10%);
    }
  }
}
