.button {
  display: inline-block;
  padding: 1.5 * $small-spacing 1.5 * $base-spacing;

  text-transform: uppercase;
  color: $button-font-color;
  font-weight: $font-weight-bold;
  font-size: $small-font-size;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;

  &--primary {
    background-color: $button-primary-color;

    &:hover,
    &:active,
    &:focus {
      color: lighten($button-primary-color, 60%);
    }
  }

  &--secondary {
    background-color: $button-secondary-color;

    &:hover,
    &:active,
    &:focus {
      color: lighten($button-secondary-color, 60%);
    }
  }

  &--link {
    background-color: transparent;

    &:hover,
    &:active,
    &:focus {
      color: darken(white, 10%);
    }
  }

  &--outline {
    border-radius: $border-radius;
    border: 1px solid $button-outline-color;

    color: $button-outline-color;

    &:hover,
    &:active,
    &:focus {
      color: darken($button-outline-color, 10%);
    }
  }

  &--inverted {
    border-radius: $border-radius;

    border: 1px solid $button-inverted-color;

    &:hover,
    &:active,
    &:focus {
      color: darken(white, 10%);
    }
  }
}
