.c-navigation {
  background-color: $pink;
  font-weight: bold;
  overflow-x: auto;
  padding: 1rem;

  a {
    color: white;

    &:hover {
      opacity: .95;
    }
  }
}

.c-navigation__name {
  font-weight: bold;
  margin-right: 1rem;
}

.c-navigation__link {
  margin-left: 1rem;
}
