ul {
  padding-left: $large-spacing;
  list-style: none;

  li {
    margin: $small-spacing 0;
  }
}

blockquote {
  position: relative;

  margin: 0;
  padding: $small-spacing $large-spacing;

  font-style: italic;
  color: $purple;

  &::before{
    content: '\201C';
    color: $purple;
    font-size: 3em;
    position: absolute;
    left: 7px;
    top:-12px;
  }
}
