---
title: Open Webslides
---


<% content_for :main do %>
  <h3>Contact</h3>

  <p>
    For more information, please contact <a href="mailto:ruben.verborgh@ugent.be">Ruben Verborgh</a> or subscribe to the <a href="mailto:listserv@lists.ugent.be?subject=subscribe%20openwebslides%20Your%20Name">mailing list</a>.
  </p>
<% end %>
